.block-text {
    margin: 40px auto 40px;
    padding: 40px 60px;
    box-sizing: border-box;
    border-radius: 30px;
    background-color: #fff
}

.dashed {
    border-style: dashed;
    color: #01223E;
    background-color: transparent
}

.card:hover {
    background-color: #01223E
}

.card:hover * {
    color: #fff
}
