@import 'variables.scss';

.inline-comments {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 45px 20px 20px;
  border-radius: 15px;
  background-color: $main-bg-color;
  width: 100%;
  box-sizing: border-box;

  &-header {
    cursor: pointer;
    display: block;
    position: absolute;
    padding: 16px 20px;
    box-sizing: border-box;
    border-radius: 15px;
    top: 0;
    left: 0;
    width: 100%;
    font-weight: 700;
    font-size: 19px;
    min-height: 65px;

    &:hover {
      background-color: $secondary-color;
      color: $primary-color;
    }
  }

  &-content {
    display: block;
    padding-top: 30px;
  }

  &-author {
    cursor: pointer;
    float: left;
    background-color: $secondary-color;
    color: $primary-color;
    padding: 2px 10px 1px;
    margin: 0 7px;
    border-radius: 15px;
  }

  &-body {
    line-height: 1.7em;
    text-overflow: ellipsis;
  }

  &-inputs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    gap: 5px;
  }

  &-form-textarea {
    flex: 1;
    padding: 7px 10px;
    line-height: 1.5em;
    min-height: 3em;
    -webkit-appearance: none;
    appearance: none;
    border: solid 2px #CCC;
    border-radius: 15px;
    box-sizing: border-box;
    outline: none;
  }
}