@import 'variables.scss';
@import "buttons.scss";

.header {
    position: relative;
    max-width: $max-width;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 30px;
    justify-content: center;
    align-items: center;
    padding: 40px 10px;
    box-sizing: border-box;

    &-logo, &-logo:hover {
        display: flex;
        color: $secondary-color;
        flex-direction: row;
        align-items: center;
        gap: 10px;
        text-decoration: none;
        font-size: 170%;
        font-weight: 600;

        img {
            width: 70px;
            height: 70px;
        }
    }

    &-menu {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 20px;

        a {
            @extend .button;
        }
    }
}