<div class="inline-comments mt-5">
    <div class="inline-comments-header align-middle" onclick="hide(this)">{{ object.comment_text }}</div>

    <div class="body" style="display: none;">
        <div class="inline-comments-content mb-5">
            {% include 'comment/comment_list.html' with comments=object.comments.all %}
            </div>
        Вы можете <a href="{% url 'comments:share' pk=object.pk %}" target="_top">поделиться</a> историей комметрариев
        {% include 'comment/comment_form.html' %}
    </div>
</div>

<script>
    function hide(e) {
        let comments = e.parentElement.getElementsByClassName("body")[0]
        $(comments).toggle()
    }
</script>