{% load django_bootstrap5 %}
{% load create_link %}

<turbo-frame id="add_new_element">
    <div class="block-text mb-5">
        <h1 class="mb-4 text-center">Новый {{ verbose_name }}</h1>
        <form method="post" action="{{ statement|create_link:model_name }}">
            {% csrf_token %}
            {% bootstrap_form form %}
            {% include 'document/edit.html' %}
            <button type="submit" class="btn btn-success">Сохранить</button>
            <a class="btn btn-warning"
               href="{% url 'achievements:new_achievement' pk=statement.pk %}">Отмена</a>
        </form>
    </div>
</turbo-frame>
