<style>
    .block-text:hover > .btnn {
        display: block;
    }

    .card:hover > * > .btnn {
        display: block;
    }

    .card:hover > a > .card-body {
        color: #f8f9fa;
    }

    .btnn {
        background-color: white;
        display: none;
    }

</style>

{% load edit_link %}
{% load delete_link %}
{% load approve_link %}
{% load reject_link %}

<turbo-frame id="achievement_{{ object.pk }}">
    <div class="block-text mb-5 position-relative">
        <div class="header-2 mb-5">{{ object.name }}
            {{ object.pretty_status|safe }}
        </div>

        {% block content %}
        {% endblock %}

        {% include 'document/list.html' with documents=object.documents.all %}

        {% include 'comment/detail.html' with object=object %}

        <biv class="btnn position-absolute top-0 end-0 col">
            {% if object.statement.user == request.user and object.statement.active and object.status != 1 %}
            <a href="{{ object|edit_link }}"
                class="button row mb-1"
                data-toggle="tooltip" data-placement="left" title="Редактировать">
                    <i class="fas fa-pen"></i>
                </a>
                <br>
                <form action="{{ object|delete_link }}" method="post"
                    data-turbo-confirm="Вы действительно хотите удалить это достижение?">
                    {% csrf_token %}
                    <button type="submit" class="button row" data-toggle="tooltip" data-placement=" left" title="Удалить">
                        <i class="fas fa-trash"></i>
                    </button>
                </form>
            {% endif %}

            {% if request.user.is_staff %}
                {% if object.status == 0 or object.status == 2 %}
                <form action="{{ object|approve_link }}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="button row" data-toggle="tooltip" data-placement="left" title="Одобрить">
                        <i class="fas fa-check-square"></i>
                    </button>
                    </form>
                {% endif %}
                {% if object.status == 0 or object.status == 1 %}
                    <form action="{{ object|reject_link }}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="button row" data-toggle="tooltip" data-placement="left" title="Отклонить">
                            <i class="fas fa-times-circle"></i>
                        </button>
                        </form>
                {% endif %}
            {% endif %}
        </biv>

    </div>
</turbo-frame>
