{% load django_bootstrap5 %}
{% load edit_link %}

<turbo-frame id="achievement_{{ object.pk }}">
    <div class="block-text mb-5">
        <form method="post" action="{{ object|edit_link }}">
            {% csrf_token %}
            {% bootstrap_form form %}

            {% include 'document/edit.html' with documents=object.documents %}
            <button type="submit" class="btn btn-success">Сохранить</button>
        </form>
{#        <form method="post" action="{% url 'achievements:patent_delete' pk=patent.pk %}">#}
{#            {% csrf_token %}#}
{#            <button type="submit" class="btn btn-danger">Удалить</button>#}
{#        </form>#}
    </div>
</turbo-frame>
