{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block content %}
    <form action="{% url 'user:me' %}" method="post" class="mb-5">
        {% csrf_token %}
        {% bootstrap_form form %}

        <div class="mb-3 mt-3">
            {% if not object.telegram_id %}
                <a type="button" class="btn btn-primary" target="_blank"
                   href="https://t.me/pgas_bot?start={{ object.pk }}">
                    Подключить телеграм
                </a><br>
            {% else %}
                <h3>Телеграм подключен ✅</h3>
            {% endif %}
        </div>

        <div class="mb-5 mt-3">
            {% if object.is_staff %}
                <h3>Статус сотрудника ✅</h3>
            {% endif %}
        </div>

        <button type="submit" class="btn btn-primary">Сохранить</button>
    </form>
    <form action="{% url 'user:logout' %}" method="post" class="mb-5">
    {% csrf_token %}
        <button type="submit" class="btn btn-danger">
            Выйти
        </button>
    </form>
{% endblock %}