{% load django_bootstrap5 %}
{% load static %}


<!doctype html>
<html lang="re">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% bootstrap_css %}
{#    <link rel="stylesheet" type="text/css" href="{% static 'common/style.css' %}">#}
    <title>404</title>

    <style>
        .full-height {
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    </style>
</head>
<body>
<div class="full-height">
    <h1 class="header-1 text-center">Тебе сюда нельзя<br>🤫</h1>
</div>
</body>
</html>
